
    <h1 class="heading skycom-12">Hamant Brahmbhatt</h1>
    <ul class="skycom-12 alpha">
      <li class="skycom-6  alpha">Location: Stratford, London</li>
      <li class="skycom-6">Telephone: 0776 130 7796</li>
      <li class="skycom-6  alpha">Email: hamant.brahmbhatt@gmail.com</li>
      <li class="skycom-6">Nationality: British</li>
      <li class="skycom-6  alpha">Github: damnhipster</li>
    </ul>
