
    <div class="skycom-12 alpha">
      <h2>Employment and Academics</h2>
      <ul>
        <li><span class="skycom-9 alpha">Software Developer at BSkyB</span><strong class="skycom-3">Aug '11 - Ongoing</strong></li>
        <li><span class="skycom-9 alpha">Oracle Java SE7 Certified Associate</span><strong class="skycom-3">Aug '12</strong></li>
        <li><span class="skycom-9 alpha">BSc (2:1 Hons) Mathematics and Computing <span class=inactive>(University of London, Queen Mary)</span></span><strong class="skycom-3">Sep '08 - '11</strong></li>
        <li><span class="skycom-9 alpha">A-level (AABB) St. Angela's &amp; St. Bonaventure's Sixth Form College</span><strong class="skycom-3">Sep '06 - '08</strong></li>
      </ul>
    </div>
