<html>
  {{> head }}
  <body class="skycom-container clearfix" id=grid12>
    {{> sections/details }}
    {{> sections/summary }}
    {{> sections/projects-and-experience }}
    {{> sections/employment-and-academics }}
  </body>
</html>
