<html>
  {{> head }}
  <body class="skycom-container clearfix" id=grid12>
    {{> sections/personal-details }}
    {{> sections/summary }}
    {{> sections/employment-and-projects }}
    {{> sections/academics }}
  </body>
</html>
